
// main.scss # Manifest File
// abstracts
@import 'abstracts/variables';
@import 'abstracts/mixins';
// Vendors
// Base
@import 'base/base';
@import 'base/reset';
@import 'base/typography';
// Layout
@import 'layout/header';
@import 'layout/seccionHero';
@import 'layout/nav';
@import 'layout/mediaqueries';
@import 'layout/forms';
// Components
@import 'components/buttons';
@import 'components/inputs';
// Pages
// Theme
