.miBtn {
    background-color: $withe;
    color: $smokyBlack;
    border: 2px solid $smokyBlack;
    padding: 10px;
    width: 150px;
}

.miBtn:hover {
    border-color: $isabeline;

}

.miBtn:focus {
    color: $isabeline;
    border-color: $isabeline;
    /*box-shadow: $isabeline;*/

}

