
/*Old standar TT*/
//@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
//font-family
//font-family: 'Old Standard TT', serif;


/*Raleway*/
//@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
//font-family
//font-family: 'Raleway', sans-serif;


.texto-a{
    @include ralewayBold($x-large);
}

.texto-primario{
   @include oldBold($xxx-large);
}

.texto-p{
    @include ralewayRegular($x-large);
    color: $quickSilver;
    line-height: 1.7rem;
}

.texto-news{
    @include oldBold($xxx-large);
    color:$withe;
}

.texto-label{
    @include oldRegular($x-large);
    color:$withe;
}

.texto-placeholder{
    @include ralewayRegular($small);
    padding: 5px;
    
   
}

.texto-subcribir{
    @include oldBold($xx-large);
   
}

.textoBtn{
    @include ralewayBold($large);
}


