
/*Colores*/
$withe:#FFF;
$isabeline:#ECECEC;
$lightGray:#D1D1D1;
$smokyBlack:#0C0910;
$graniteGray:#646266;
$quickSilver:#A6A5A8;

/*Tamaño Fuentes*/
$xxx-large:50px;
$xx-large:30px;
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;

/*Tipografia*/
$bold:700;
$regular:400;



