@charset "UTF-8";
/*Colores*/
/*Tamaño Fuentes*/
/*Tipografia*/
/*Fuentes*/
/*Old Standard*/
/*Raleway*/
body {
  margin: 0;
  padding: 0;
}

/*Old standar TT*/
/*Raleway*/
.texto-a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
  font-size: 20px;
}

.texto-primario {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
  font-size: 50px;
}

.texto-p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
  font-size: 20px;
  color: #A6A5A8;
  line-height: 1.7rem;
}

.texto-news {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
  font-size: 50px;
  color: #FFF;
}

.texto-label {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
  font-size: 20px;
  color: #FFF;
}

.texto-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
  font-size: 14px;
  padding: 5px;
}

.texto-subcribir {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
  font-size: 30px;
}

.textoBtn {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
  font-size: 18px;
}

.miHero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

/*layout grid*/
.divx {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.divy {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
}

.divz {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 /3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 100%;
}

/*estilizando componentes*/
.divxx {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.dixx h1,
p,
button {
  margin-bottom: 25px;
}

.contenedor {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 98.5%;
}

.divy1 {
  background-color: #0C0910;
  width: 55%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.divy2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  height: 30%;
  /*girar divy2*/
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.divy1 label,
input {
  display: block;
  margin-bottom: 3px;
}

.divy1 h1 {
  margin-bottom: 18px;
}

.miImg {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 92.5vh;
}

.negro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  background-color: #0C0910;
  width: 100%;
  height: 100%;
}

.miNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.navLogo {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #0C0910;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  src: url("https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap");
  font-size: 20px;
  color: #FFF;
}

.nav-ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
}

.nav-li {
  padding-inline: 25px;
}

a {
  text-decoration: none;
  color: #0C0910;
}

a:hover {
  color: #D1D1D1;
}

.miBtn {
  background-color: #FFF;
  color: #0C0910;
  border: 2px solid #0C0910;
  padding: 10px;
  width: 150px;
}

.miBtn:hover {
  border-color: #ECECEC;
}

.miBtn:focus {
  color: #ECECEC;
  border-color: #ECECEC;
  /*box-shadow: $isabeline;*/
}

/*input*/
input {
  width: 280px;
  border: 2px solid #ECECEC;
}

input ::-webkit-input-placeholder {
  color: #A6A5A8;
}

input :-ms-input-placeholder {
  color: #A6A5A8;
}

input ::-ms-input-placeholder {
  color: #A6A5A8;
}

input ::placeholder {
  color: #A6A5A8;
}

/*Modificando contorno*/
input[type=text]:focus {
  /*contorno*/
  outline-color: #ECECEC;
  /*borde interno*/
  border: 1.5px outset #ECECEC;
}
/*# sourceMappingURL=style.css.map */