


//medidas tablet segun bootsrap
@media screen and (max-width: 991.98px) { 

    .miNav{
        margin-bottom: -160px;
    }

    .miHero{
        display: grid;
        grid-template-columns: auto;
    }

    .divz{
        grid-column:1/2;
        grid-row: 1/2;
        //height: auto;
     
    }
    
    .miImg{
     clip-path: inset(18% 0 35% 0);   
    }

    .divx{
        grid-column:1/2;
        grid-row: 2/3;
        margin-top: -310px;
    }

    .cortaLinea{
        display: none;
    }

    .divy{
        grid-column:1/2;
        grid-row: 3/4;
        
    }

    .miBtn{
        margin-bottom: 70px;
    }
 
    .contenedor{
        height: 30vh;
    }

    .miIn{
        width: 500px;
    }

 }


 