
//medidas tablet segun bootsrap
@media screen and (max-width: 991.98px) {

    .miNav {
        margin-bottom: -160px;
    }

    .miHero {
        display: grid;
        grid-template-columns: auto;
    }

    .divz {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .miImg {
        clip-path: inset(18% 0 35% 0);
    }

    .divx {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: -310px;
    }

    .cortaLinea {
        display: none;
    }

    .divy {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .miBtn {
        margin-bottom: 70px;
    }

    .contenedor {
        height: 30vh;
    }

    .miIn {
        width: 500px;
    }

} 
    
//corrige desbordamiento de input
@media screen and (max-width: 780px  ) {

    .miIn {
        width: 300px;
    }
}


//medidas smartphone segun bootsrap
@media screen and (max-width: 576px) {

    i {
        font-size: 40px;
    }

    .miNav {
        margin-bottom: 0;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
    }

    .hamburgesa {
        display: flex;
        background-color: transparent;
        border: none;
       margin-bottom: 0;
    }

    .fa-bars {
        justify-content: center;
        margin-right: 50px;
        width: 70px;
        height: 4.5vh;
    }

    .nav-ul {
        display: none;
    }

    .miImg {
        clip-path: none;
        width: 100%;
        height: 50vh;
        clip-path: inset(2% 0 35% 0);
    }

    .divx {
        margin-top: -160px;
    }

    .miBtn {
        margin-bottom: 50px;
    }

    .contenedor {
        height: 25vh;
        width: 97.5%;
    }

    .miIn {
        width: 250px;
    }
}

